In [1]:
import pandas as pd
import numpy as np

three_szn = pd.read_csv("nba_three_szns.csv")

In [3]:
three_szn[three_szn['Player']=='Mark Williams']

,Player,yr1.Team,yr1.Pos,yr1.G,yr1.GS,yr1.MP,yr1.FG,yr1.FGA,yr1.FG%,yr1.3P,...,yr3.FT%,yr3.ORB,yr3.DRB,yr3.TRB,yr3.AST,yr3.STL,yr3.BLK,yr3.TOV,yr3.PF,yr3.PTS
1058,Mark Williams,CHO,C,43.0,17.0,19.3,3.7,5.8,0.637,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN